/*a{
	text-decoration: underline;
}
*/

@font-face {
    font-family: inter;
    src: url('/fonts/inter.ttf');
}

@font-face {
    font-family: susemono;
    src: url('/fonts/susemono.ttf');
}

html {
    font-family: susemono;
}

