/* Slate scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* 990033 */
--color-neutral-50: 252, 235, 241;   /* very light tint */
--color-neutral-100: 248, 213, 224;
--color-neutral-200: 238, 171, 196;
--color-neutral-300: 225, 128, 166;
--color-neutral-400: 204, 77, 128;
--color-neutral-500: 153, 0, 51;     /* base color #990033 */
--color-neutral-600: 122, 0, 41;
--color-neutral-700: 92, 0, 31;
--color-neutral-800: 61, 0, 20;
--color-neutral-900: 31, 0, 10;      /* near-black */

  /* Slate */
  --color-primary-50: 248, 250, 252;
  --color-primary-100: 241, 245, 249;
  --color-primary-200: 226, 232, 240;
  --color-primary-300: 203, 213, 225;
  --color-primary-400: 148, 163, 184;
  --color-primary-500: 100, 116, 139;
  --color-primary-600: 71, 85, 105;
  --color-primary-700: 51, 65, 85;
  --color-primary-800: 30, 41, 59;
  --color-primary-900: 15, 23, 42;
  /* Gray */
  --color-secondary-50: 249, 250, 251;
  --color-secondary-100: 243, 244, 246;
  --color-secondary-200: 229, 231, 235;
  --color-secondary-300: 209, 213, 219;
  --color-secondary-400: 156, 163, 175;
  --color-secondary-500: 107, 114, 128;
  --color-secondary-600: 75, 85, 99;
  --color-secondary-700: 55, 65, 81;
  --color-secondary-800: 31, 41, 55;
  --color-secondary-900: 17, 24, 39;
}
