/* Slate scheme */
/* #5d6b72 #92b3d9 #014470 */

:root {
--color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    215,219,222;
--color-neutral-300:    172,183,188;
--color-neutral-400:    130,146,153;
--color-neutral-500:    93,107,114;
--color-neutral-600:    75,86,92;
--color-neutral-700:    56,65,69;
--color-neutral-800:    38,44,47;
--color-neutral-900:    20,23,24;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,255,255;
--color-primary-400:    203,219,237;
--color-primary-500:    146,179,217;
--color-primary-600:    116,158,206;
--color-primary-700:    85,137,196;
--color-primary-800:    62,116,178;
--color-primary-900:    52,97,148;
--color-secondary-50:     241,249,255;
--color-secondary-100:    165,219,254;
--color-secondary-200:    89,188,254;
--color-secondary-300:    13,158,253;
--color-secondary-400:    2,114,188;
--color-secondary-500:    1,68,112;
--color-secondary-600:    1,43,72;
--color-secondary-700:    0,19,31;
--color-secondary-800:    0,0,0;
--color-secondary-900:    0,0,0;
}